<!DOCTYPE html>
<html lang="en">
{{>headerlinks}}
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="ashu" class="img-fluid" title="Ashutosh Mishra">
                        </figure>
                        
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello Everyone!</p>
                        <h1>I am an <span class="text_clr"> Amateur Back End Developer </span> and currently pursuing My Bachelors in Electronics and Communication Engineering.</h1>
                        <a href="https://www.youtube.com/watch?v=F9_PZfxKovU&t=10s" target="_ashu"><button>More About Me</button></a>

                    </div>
                   
                </div>

            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>
